#div1{
    background-color:red;
    width :200px;
    height:200px;
    display:block;
    /* visibility: hidden; */
}
#span1{
    background-color:rgb(77, 255, 0);
    width :200px;
    height:200px;
    display: block;
    /* visibility:hidden; */
}
#div2{
    background-color:red;
    width :200px;
    height:200px;
    display:inline;
}
#span2{
    background-color:rgb(15, 204, 25);
    /* color:green; */
    width :200px;
    height:200px;
    display:inline;
}
#p2{
    display: inline;
}
