*{
    padding:0px;
    margin:0px;
}
body{
    background-color:#1b1b55
}
div{
    background-color:rgb(121, 237, 237);
    color:white;
    margin:10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px;
    display:flex;
    padding:25px;
    justify-content:right;
    flex-wrap:wrap;
}
h1{
    text-align:center;color:rgb(142, 9, 9);
    padding-bottom: 20px;
    
}
h3{
    padding-right:30px;
    color:black;
    /* text-shadow:5px 5px 7px; */
}
/* .start{
    justify-content:left;
    text-align:left;
} */
