body{
    background-color:aqua;
}
h2{
    text-align:center;
    color:rgb(227, 140, 140);
}

h2::first-letter{
    font-size:2em;
    font-style:italic;
}
p::first-line{
    background-color:greenyellow;
}
p::selection{
    background-color:green;
    color:rgb(157, 205, 36)
}
/* .fruit li::before{ */
    /* content:"✔️"; */

/* } */
.banana::after{
    content:"🍌";
}
.apple::after{
    content:"🍎"
}
.orange::after{
    content:"🟠"
}
.fruit li::marker{
    content:"✔️";
    color:rgb(155, 21, 21);
    font-size:1.zem;
}
